<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3>공지사항 수정</h3>
    <div class="form-group">
        <label>제목</label>
        <input type="text" id="title" th:value="${title}" class="form-control">
    </div>
    <div class="form-group">
        <label>내용</label>
        <textarea type="text" id="content" rows="5" th:text="${content}" class="form-control"/></textarea>
    </div>
    <button id="btnEdit" style="width:100%;" class="btn btn-primary">공지사항 수정</button><br><br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<input th:value="${nowId}" type="text" id="nowId" hidden="true"/>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
    function edit() {
        var form = {
            id: $("#nowId").val(),
            title: $("#title").val(),
            content: $("#content").val()
        };

        $.ajax({
            url: '/api/v1/notice/edit',
            type: 'PUT',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                alert("글 수정 완료!");
                location.href = "/notice/read/" + res.data.id;
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });
    }
    $(document).ready(function() {
        $("#btnEdit").click(function(){
            edit();
        });
    });
</script>
</body>
</html>