<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3>게시판</h3>
    <div>
        <select id="searchBy" style="width:25%;display:inline;" class="form-control">
            <option value="title" selected>제목</option>
            <option value="content">내용</option>
            <option value="writerName">글쓴이 이름</option>
            <option value="writerMemberId">글쓴이 아이디</option>
        </select>
        <input type="text" id="searchWord" style="width:53%;display:inline;" class="form-control">
        <button id="searchBtn" style="width:20%;display:inline;" class="btn btn-success">검색</button>
    </div><br>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>글쓴이 이름</th>
                <th>글쓴이 아이디</th>
                <th>생성일</th>
            </tr>
            </thead>
            <tbody id="noticeListTbody">
            <tr>
                <td class="text-center font-size-sm" colspan="5">공지 목록을 찾을 수가 없습니다.</td>
            </tr>
            </tbody>
        </table>
        <ul id="noticeBlock" class="pagination justify-content-center"></ul>
        <span id="noticeDetail"></span><br><br>
        <a th:href="@{/notice/write}" class="btn btn-info">글쓰기</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<input th:value="${nowPage}" type="text" id="nowPage" hidden="true"/>
<input th:value="${sWord}" type="text" id="sword" hidden="true"/>
<input th:value="${sBy}" type="text" id="sby" hidden="true"/>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
    // 공지사항 목록 출력
    function _displayOrderList(displayNotice) {

        $("#noticeListTbody").empty();

        var html = '';
        if (!displayNotice || displayNotice.length == 0) {
            html += '<tr>';
            html += '	<td class="text-center font-size-sm" colspan="5">조회된 데이터가 없습니다.</td>';
            html += '</tr>';

            $("#noticeListTbody").html(html);
            return;
        }

        // list 출력
        for (var i = 0, length = displayNotice.length; i < length; ++i) {
            html += '<tr>';
            html += '<td>' + displayNotice[i].noticeId + '</td>';
            html += '<td><a href="./read/' + displayNotice[i].noticeId + '">' + displayNotice[i].title + '</a></td>';
            html += '<td>' + displayNotice[i].writerName + '</td>';
            html += '<td>' + displayNotice[i].writerMemberId + '</td>';
            html += '<td>' + displayNotice[i].createdDate + '</td>';
            html += '</tr>';
        }
        $("#noticeListTbody").html(html);

    };

    function _displayBlock(data){

        var html = '';

        if(data.prevBlockPageNum > 0) {
            html += ' <li class="page-item">' +
                '<a class="page-link" href="./list?page=1&sword=' + $("#sword").val() + '&sby=' + $("#sby").val() + '" aria-label="First">' +
                '<span aria-hidden="true">처음페이지</span>' +
                '</a>' +
                '</li>';

            html += ' <li class="page-item">' +
                '<a class="page-link" href="./list?page=' + data.prevBlockPageNum + '&sword=' + $("#sword").val() + '&sby=' + $("#sby").val() + '" aria-label="Previous">' +
                '<span aria-hidden="true">« 이전</span>' +
                '</a>' +
                '</li>';
        }


        for (var i = data.firstPageNum; i <= data.lastPageNum; ++i) {
            if(i==data.pageNum){
                html += '<li class="page-item active">';
            }else{
                html += '<li class="page-item">';
            }
            html += '<a class="page-link" href="./list?page=' + i +'&sword=' + $("#sword").val() + '&sby=' + $("#sby").val() + '">';
            html += i;
            html += '</a></li>';
        }

        if(data.nextBlockPageNum <= data.totalPageCount) {
            html += ' <li class="page-item">' +
                '<a class="page-link" href="./list?page=' + data.nextBlockPageNum + '&sword=' + $("#sword").val() + '&sby=' + $("#sby").val() + '" aria-label="Next">' +
                '<span aria-hidden="true">다음 »</span>' +
                '</a>' +
                '</li>';
        }


        $("#noticeBlock").html(html);
    }

    function searchGo() {
        location.href = "./list?sword=" + $("#searchWord").val() + "&sby=" + $("#searchBy").val();
    }


    $(document).ready(function() {
        if ($("#sby").val() != "" && $("#sword").val() != "") {
            $("#searchBy").val($("#sby").val());
            $("#searchWord").val($("#sword").val());
        }

        var form = {
            pageNum: $("#nowPage").val(),
            pageElementCount: 2,
            pageBlockCount: 2,
            sortNm: "id",
            sortType: "desc",
            searchWord: $("#sword").val(),
            searchBy: $("#sby").val()
        };

        $.ajax({
            url: '/api/v1/notice/list',
            type: 'POST',
            data: JSON.stringify(form),
            async: false,
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data.noticeList;
                _displayOrderList(result);
                _displayBlock(res.data);
                $("#noticeDetail").html('현재 페이지의 게시글 수: ' + res.data.numberOfElements + ' / 총 게시글 수: ' + res.data.totalElements + ' / 총 페이지 수: ' + res.data.totalPageCount);
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });

        $("#searchBtn").click(function(){
            searchGo();
        });

    });
</script>
</body>
</html>