<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3 id="title"></h3>
    <span>글쓴이: <span id="writer"></span></span><br>
    <span>등록일: <span id="date"></span></span><br><br>
    <h5 id="content"></h5><br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<input th:value="${nowId}" type="text" id="nowId" hidden="true"/>
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        function apiErrCode(request){
            var state = request.status;
            var msg = "";

            if(state == 500){
                var responseMessage = JSON.parse(request.responseText);
                if(responseMessage.statusMessage != null){
                    msg = "[" + responseMessage.statusCode + "]" + " " + responseMessage.statusMessage;
                }else{
                    switch (state){
                        case 401 :
                            msg ="토큰이 유효하지 않음";
                            break;
                        case 500 :
                            msg ="Server Invalid";
                            break;
                        case 4201 :
                            msg ="Json Missing";
                            break;
                        case 4301 :
                            msg ="키를 찾을 수 없음";
                            break;
                        default :
                            msg ="에러 코드를 확인할 수 없습니다.";
                    }
                }

            }else{
                msg ="서버 에러가 발생했습니다. (" + state + ")";
            }

            return msg;
        }

        var form = {
            id: $("#nowId").val()
        };

        // 동기식 통신
        $.ajax({
            url: '/api/v1/notice/read',
            type: 'POST',
            data: JSON.stringify(form),
            async: false,
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data;
                $("#title").html('제목: ' + result.title);
                $("#writer").html(result.writerName + ' (' + result.writerMemberId + ')');
                $("#date").html(result.createdDate);
                $("#content").html(result.content);
            },
            error : function(request) {
                alert(apiErrCode(request));
                location.href='/notice/list';
            }
        });
    });
</script>
</body>
</html>