<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3 id="title"></h3>
    <hr>
    <span>글쓴이: <span id="writer"></span></span><br>
    <span>등록일: <span id="date"></span></span><br>
    <hr>
    <h5 id="content"></h5>
    <div id="btnControl"></div>
    <hr>
    <div id="commentListDiv"></div>
    <ul id="commentBlock" class="pagination justify-content-center"></ul>
    <textarea type="text" id="commentWrite" rows="2" class="form-control"/></textarea>
    <button id="commentWriteBtn" class="btn btn-danger">댓글 등록</button>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<input th:value="${nowId}" type="text" id="nowId" hidden="true"/>
<script src="/js/jquery.min.js"></script>
<script>
    var nowPageNum = 1;
    function apiErrCode(request){
        var state = request.status;
        var msg = "";

        if(state == 500){
            var responseMessage = JSON.parse(request.responseText);
            if(responseMessage.statusMessage != null){
                msg = "[" + responseMessage.statusCode + "]" + " " + responseMessage.statusMessage;
            }else{
                switch (state){
                    case 401 :
                        msg ="토큰이 유효하지 않음";
                        break;
                    case 500 :
                        msg ="Server Invalid";
                        break;
                    case 4201 :
                        msg ="Json Missing";
                        break;
                    case 4301 :
                        msg ="키를 찾을 수 없음";
                        break;
                    default :
                        msg ="에러 코드를 확인할 수 없습니다.";
                }
            }

        }else{
            msg ="서버 에러가 발생했습니다. (" + state + ")";
        }

        return msg;
    }

    function loadComment(page) {
        nowPageNum = page;
        var form = {
            id: $("#nowId").val(),
            pageNum: page,
            pageElementCount: 2,
            pageBlockCount: 2,
            sortNm: "id",
            sortType: "desc"
        };

        // 비동기식 통신
        $.ajax({
            url: '/api/v1/comment/notice/list',
            type: 'POST',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data.commentNoticeList;
                _displayCommentList(result);
                _displayBlock(res.data);
            },
            error : function(request) {
                alert(apiErrCode(request));
                location.href='/notice/list';
            }
        });
    }

    // 공지사항 목록 출력
    function _displayCommentList(displayComment) {
        $("#commentListDiv").empty();

        var html = '';
        if (!displayComment || displayComment.length == 0) {
            html += '<span class="text-center font-size-sm">댓글이 없습니다.</span><hr>';

            $("#commentListDiv").html(html);
            return;
        }

        // list 출력
        for (var i = 0, length = displayComment.length; i < length; ++i) {
            html += '<span>' + displayComment[i].writerName + ' (' + displayComment[i].writerMemberId + ')</span>';
            html += '<span style="text-align:right;"> / ' + displayComment[i].createdDate + '</span><br>';
            html += '<span>' + displayComment[i].comment + '</span>';
            if(displayComment[i].writerCheck == true){
                html += '<button onclick="editComment(' + displayComment[i].id + ')" class="btn btn-info">댓글 수정</button>';
                html += '<button onclick="deleteComment(' + displayComment[i].id + ')" class="btn btn-info">댓글 삭제</button>';
            }
            html += '<hr>';
        }
        $("#commentListDiv").html(html);
    };

    function _displayBlock(data){

        var html = '';

        if(data.prevBlockPageNum > 0) {
            html += ' <li class="page-item">' +
                '<button class="page-link" onclick="loadComment(1);" aria-label="First">' +
                '<span aria-hidden="true">처음페이지</span>' +
                '</button>' +
                '</li>';

            html += ' <li class="page-item">' +
                '<button class="page-link" onclick="loadComment(' + data.prevBlockPageNum + ');" aria-label="Previous">' +
                '<span aria-hidden="true">« 이전</span>' +
                '</button>' +
                '</li>';
        }


        for (var i = data.firstPageNum; i <= data.lastPageNum; ++i) {
            if(i==data.pageNum){
                html += '<li class="page-item active">';
            }else{
                html += '<li class="page-item">';
            }
            html += '<button class="page-link" onclick="loadComment(' + i + ');">';
            html += i;
            html += '</button></li>';
        }

        if(data.nextBlockPageNum <= data.totalPageCount) {
            html += ' <li class="page-item">' +
                '<button class="page-link" onclick="loadComment(' + data.nextBlockPageNum + ');" aria-label="Next">' +
                '<span aria-hidden="true">다음 »</span>' +
                '</button>' +
                '</li>';
        }


        $("#commentBlock").html(html);
    };


    function deleteNotice() {
        var form = {
            id: $("#nowId").val()
        };

        $.ajax({
            url: '/api/v1/notice/delete',
            type: 'POST',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                alert("글 삭제 완료!");
                location.href = "/notice/list";
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });
    }

    function commentWrite() {
        var form = {
            id: $("#nowId").val(),
            comment: $("#commentWrite").val()
        };

        $.ajax({
            url: '/api/v1/comment/notice/write',
            type: 'PUT',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                $("#commentWrite").val('');
                alert("댓글 등록 완료!");
                loadComment(nowPageNum);
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });
    }

    $(document).ready(function() {

        // 동기식 통신
        $.ajax({
            url: '/api/v1/notice/read/' + $("#nowId").val(),
            type: 'GET',
            async: false,
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data;
                $("#title").html(result.title);
                $("#writer").html(result.writerName + ' (' + result.writerMemberId + ')');
                $("#date").html(result.createdDate);
                $("#content").html(result.content);


                if(result.writerCheck == true){
                    $("#btnControl").html('<hr><a href="./edit?id=' + $("#nowId").val() + '" class="btn btn-info">글 수정</a>  <button id="deleteNotice" class="btn btn-info">글 삭제</button>');
                }
            },
            error : function(request) {
                alert(apiErrCode(request));
                location.href='/notice/list';
            }
        });

        loadComment(nowPageNum);

        $("#deleteNotice").click(function(){
            deleteNotice();
        });

        $("#commentWriteBtn").click(function(){
            commentWrite();
        });

    });
</script>
</body>
</html>