<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3>공지사항 등록</h3>
    <div class="form-group">
        <label>제목</label>
        <input type="text" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label>내용</label>
        <textarea type="text" id="content" rows="5" class="form-control"/></textarea>
    </div>
    <button id="btnWrite" style="width:100%;" class="btn btn-primary">공지사항 등록</button><br><br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
    function write() {
        var form = {
            title: $("#title").val(),
            content: $("#content").val()
        };

        $.ajax({
            url: '/api/v1/notice/write',
            type: 'PUT',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                alert("글 작성 완료!");
                location.href = "/notice/list";
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });
    }


    $(document).ready(function() {
        $("#btnWrite").click(function(){
            write();
        });
    });
</script>
</body>
</html>