<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3>로그인</h3>
    <div class="form-group">
        <label>아이디</label>
        <input type="text" id="memberId" name="memberId" class="form-control">
    </div>
    <div class="form-group">
        <label>비밀번호</label>
        <input type="password" id="password" class="form-control">
    </div>
    <button id="btnLogin" style="width:100%;" class="btn btn-primary">로그인</button><br><br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
    function login() {
        var form = {
            memberId: $("#memberId").val(),
            password: $("#password").val()
        };

        $.ajax({
            url: '/api/v1/loginMember',
            type: 'POST',
            data: JSON.stringify(form),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                location.href = "/";
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });
    }

    $(document).ready(function() {
        $("#btnLogin").click(function(){
            login();
        });
    });
</script>
</body>
</html>