<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3>회원정보 변경</h3>
    <div class="form-group">
        <label>아이디</label>
        <input type="text" id="memberId" class="form-control" disabled>
    </div>
    <div class="form-group">
        <label>이름</label>
        <input type="text" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label>전화번호</label>
        <input type="text" id="phoneNumber" class="form-control">
    </div>
    <div class="form-group">
        <label>이메일</label>
        <input type="text" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label>주소[도시]</label>
        <input type="text" id="addressCity" class="form-control">
    </div>
    <div class="form-group">
        <label>주소[거리]</label>
        <input type="text" id="addressStreet" class="form-control">
    </div>
    <div class="form-group">
        <label>주소[우편번호]</label>
        <input type="text" id="addressZipcode" class="form-control">
    </div>
    <button id="btnUpdate" class="btn btn-primary">정보 변경</button>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        function apiErrCode(request){
            var state = request.status;
            var msg = "";

            if(state == 500){
                var responseMessage = JSON.parse(request.responseText);
                if(responseMessage.statusMessage != null){
                    msg = "[" + responseMessage.statusCode + "]" + " " + responseMessage.statusMessage;
                }else{
                    switch (state){
                        case 401 :
                            msg ="토큰이 유효하지 않음";
                            break;
                        case 500 :
                            msg ="Server Invalid";
                            break;
                        case 4201 :
                            msg ="Json Missing";
                            break;
                        case 4301 :
                            msg ="키를 찾을 수 없음";
                            break;
                        default :
                            msg ="에러 코드를 확인할 수 없습니다.";
                    }
                }

            }else{
                msg ="서버 에러가 발생했습니다. (" + state + ")";
            }

            return msg;
        }

        function update() {
            var form = {
                name: $("#name").val(),
                phoneNumber: $("#phoneNumber").val(),
                email: $("#email").val(),
                address:{
                    city: $("#addressCity").val(),
                    street: $("#addressStreet").val(),
                    zipcode: $("#addressZipcode").val()
                }
            };

            $.ajax({
                url: '/api/v1/updateMember',
                type: 'POST',
                data: JSON.stringify(form),
                contentType: "application/json",
                dataType: 'json',
                success: function (res) {
                    alert("정보 변경 완료!");
                },
                error : function(request) {
                    alert(apiErrCode(request));
                }
            });
        }

        // 동기식 통신
        $.ajax({
            url: '/api/v1/model/updateMember',
            type: 'GET',
            async: false,
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data;

                $("#memberId").val(result.memberId);
                $("#name").val(result.name);
                $("#phoneNumber").val(result.phoneNumber);
                $("#email").val(result.email);
                $("#addressCity").val(result.address.city);
                $("#addressStreet").val(result.address.street);
                $("#addressZipcode").val(result.address.zipcode);
            },
            error : function(request) {
                alert(apiErrCode(request));
            }
        });

        $("#btnUpdate").click(function(){
            update();
        });
    });
</script>
</body>
</html>