<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>환영합니다!</h1>
        <p id="name">로그인하지 않았습니다.</p>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/member/signup">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/member/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/member/logout">로그아웃</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/member/update">회원정보 변경</a>
            <a class="btn btn-lg btn-secondary" href="/member/updatePw">비밀번호 변경</a>
            <a class="btn btn-lg btn-secondary" href="/member/delete">회원 탈퇴</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/notice/list">게시판 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
    $(document).ready(function() {
        // 동기식 통신
        $.ajax({
            url: '/api/v1/model/index',
            type: 'GET',
            async: false,
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                var result = res.data;
                $("#name").html(result.name + "님, 환영합니다~");
            }
        });
    });
</script>
</body>
</html>